button
{
	width: 120px;
	height: 45px;
	border-radius: 15px;
	font-size: 20px;
	margin: 10px;
	border-color: #000011;
}
  
a
{
	text-decoration: none;
}

button:link
{
	background-color:none;
}

button:visited
{
	background-color:blue;
}

button:hover
{
	background-color:red;
}

button:active
{
	background-color:green;
}
